.logo:hover {
    color: lightgrey !important;
}

.box {
    height: 70px;
}

.home {
    line-height: 30px;
}

.custom-border {
    width: 60%;
    margin-left: 20% !important;
}


@media screen and (max-width: 1200px){
    .custom-border {
        width: 70%;
        margin-left: 15% !important;
    }   
}

@media screen and (max-width: 992px){
    .custom-border {
        width: 90%;
        margin-left: 5% !important;
    }   
}


@media screen and (max-width: 768px){
    .box {
        height: 50px;
    }    
    
}

@media screen and (max-width: 576px){
    .box {
        height: 30px;
    }    
    
} 