{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="title text-light text-two h1">Finding Node Network Routes</div>
        <div class="overlay"></div>
    </div>
    <header class="bg-header h1 p-2 m-0 text-one">
        <a class="text-decoration-none text-light logo" href="#">SimpleAlgo <i class="fas fa-code-branch"></i></a>
    </header>    
    
    <div class="text-secondary fst-italic p-2">By Zahur Meerun July 2022</div>
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}