{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="title text-light text-two h1">Finding Node Network Routes</div>
        <div class="overlay"></div>
    </div>
    <header class="bg-header h1 p-2 m-0 text-one">
        <a class="text-decoration-none text-light logo" href="#">SimpleAlgo <i class="fas fa-code-branch"></i></a>
    </header>    
    
    <div class="text-secondary fst-italic p-2">By Zahur Meerun July 2022</div>
    <section class="p-1 mt-0 text-two">
        <div class="col-12 h2 text-primary text-center">Tutorial Objective</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">This article's objective is to simply explain the algorithm used in finding all possible routes within a network of connected nodes.</br></br>

            There are many articles covering this topic that tend to be more for the more experienced programmer and can be hard to grasp for people who are relatively new to programming.</br></br>
            
            This article will break down the coding process into small parts which can easily be digested so we can understand the core concepts involved. For coding we will use python.
        </div>
        <div class="col-12 h2 text-primary text-center mt-5">How Data is stored</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">
            Data needs to be stored! But how? A tree data structure! Just like a tree is made of a root connected to branches and leaves a tree data structure has nodes with key pair values. 
            Each node represents a location having a unique name (key) and a value. The value can be a list, string, or even a dictionary. Each node can be connected to a node or even a series of nodes with links (edges) just like a tree branch is 
            connected to leaves.</br></br>
            <div class="text-center tree"><img src="{{ MEDIA_URL }}tree-1.png" alt="data tree structure" /></div>
            </br>
            The root node is the main node from which all links and nodes will branch out. There are many types of tree data structures, for simplicity
            the article will deal with a general tree structure which means a node can be linked to many nodes compared to for example a binary tree where nodes 
            are limited to two connections.
        </div></br>
        <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}binary-tree.png" alt="data tree structure" /></div>
        <div class="col-12 h2 text-primary text-center mt-5">Why Tree's?</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">
            Trees are mainly used for searching and sorting as they provide a convenient means to store data hierarchically. In our case, we are more 
            interested in the searching aspect, more specifically the breadth-first traversal method which we will come to later.</br></br>
            Searching through a tree to find a specific node and its corresponding value in a structured form is of high importance and has several practical uses
            in programming from file searching, to finding routes in a road network, and even solving a maze. The algorithm which will be used will focus on finding all routes for a specific node which we 
            will further refine to obtain the shortest routes between 2 nodes. I guess at this point it isn't that hard to realize one practical use of 
            such an algorithm! Who wouldn't want to travel from A to B in the shortest time unless it's not the cheapest way! (Which will get to eventually).
        </div>
        <div class="col-12 h2 text-primary text-center mt-5">Let's Talk Recursion</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">
            One important concept while traversing nodes is recursion. Recursion is a programming technique using a function or algorithm that calls itself one or more times until a
            specified condition is met. Recursion gives us the ability to search our tree using the same function until all nodes have been explored thus greatly facilitating our task 
            since we no longer need to write multiple functions to find nodes.</br></br>
            
            In simple terms, we call our functions again, and again until it's no longer needed. A basic illustration of recursion would be the following code:</br></br>
                    <div class="d-flex justify-content-center">
                    <div class="ps-2 p-1 code-text bg-dark text-light fw-bold border border-5 border-primary">def recursive_function(num):</br>&emsp;
                        if num == 0:<span class="text-success">&emsp;#Stopping condition</span></br>&emsp;&emsp;
                            return print('The End!')</br>&emsp;                  
                            print(num)</br>&emsp;
                            recursive_function(num-1)</br>
                    
                        recursive_function(5)<span class="text-success">&emsp;#Call to our function</span></br></br>

                        Output:</br>
                        5</br>4</br>3</br>2</br>1</br>"The End!"</br>
                        
                    </div>
                </div></br>
            The call to our function will continue as long as the stopping condition hasn't been met, in this case, num==0.                    
        </div>
        <div class="col-12 h2 text-primary text-center mt-5">Defining our Problem and Solution</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">
            First, we start by defining our problem from which a solution can be found.<br><br>
            <span class="fw-bold">Problem:</span>&emsp;Obtain all routes for a network.<br></br>
            Starting with an initial simple test case ensures that code works with minimum data before moving on to larger data thus making
            debugging more manageable. Hence we will start with the following graph (network) represented by a dictionary:<br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                graph = {"A": ["B", "C"], "B": ["A", "D"], "C": ["A"]}
            </div>
            </div></br></br>
            The following graph can be represented on a diagram as follows:
            <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}graph.png" alt="data tree structure" /></div></br>
            Without much effort we can expect the output of the our program to be as detail below, representing all routes starting from node "A":</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                OUTPUT: [["A", "B", "D"], ["A", "C"]]
            </div>
            </div></br></br>
            <span class="fw-bold">Our Solution:</span><br></br>
            <div class="ps-2">
            1. Starting at the initial node "A" we find all connecting nodes.</br>
            <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}connecting1.png" alt="data tree structure" /></div></br>

            2. Add the accumulated routes from step 1 to a queue, which will consist of the starting node plus the connecting node.</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                queue = [["A", "B"], ["A", "C"]]
            </div>
            </div></br>

            3. The items in the queue our sent back into our functions (recursion!) one by one to check if there are no connecting nodes for the last added node whilst also
            checking if the node hasn't been visited before.</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                function(["A", "B"], <span class="text-danger">"B"</span>) , function(["A", "C"], <span class="text-danger">"C"</span>)
            </div>
            </div></br>
            <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}connecting2.png" alt="data tree structure" /></div></br>
            4. If step 3 returns no connecting nodes, therefore implying the queue is empty, we can assume that we have reached the end of our route and we can add that route to a list.</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                function(["A", "C"], <span class="text-danger">"C"</span>) queue empty
            </div>
            </div></br>
            <div class="ps-5 text-center">We add ["A", "C"] to a list</div></br>
            5. If step 3 yields connecting node/nodes we add the route plus node back to the queue and send it back to our function. This process is continued until no connecting nodes are returned.</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                queue = [["A", "B" ,"D"]]</br></br>
                function(["A", "B" ,"D"], <span class="text-danger">"D"</span>)</span>)
            </div>
            </div></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                function(["A", "B", "D"], <span class="text-danger">"D"</span>) queue empty
            </div>
            </div></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                queue = []</br>
            </div>
            </div></br>
            <div class="ps-5 text-center">We add ["A", "B", "D"] to a list</div></br>
            6. Once no connecting nodes are obtained, the queue remains empty signalling the end of the process, we return the list of all routes.</br></br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold">
                all_routes = [["A", "B", "D"], ["A", "C"]]
            </div>
            </div></br>
            The algorithm used for searching for connecting nodes level by level and is referred to as <span class="fw-bold">breadth-first traversal method</span>. The following represents
            a flow chart of the algorithm.</br>
            <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}function.png" alt="data tree structure" /></div></br>
        </div>        
        </div></br>
        <div class="col-12 h2 text-primary text-center">Let's Start Coding!</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">Our code will consist of 2 functions:</br></br>
            1. The Start function will take the initial inputs and send them to our recursive function and will also return our final result. We also require a globally defined variable to store all routes when the queue return an empty list as described above.</br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-light bg-dark p-2 fw-bold mt-3 border border-5 border-primary">
                all_routes = []</br></br>
                def find_routes(graph, vertex, visited=[]):</br>
                &emsp;&emsp;visited.append(vertex)</br>
                &emsp;&emsp;paths = find_connections(graph, vertex, visited)</br>
                &emsp;&emsp;return print(f'final result: {paths}')</br>
            </div>
            </div></br>
            2. The recursive function will be the heart of our algorithm to search through our tree.</br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-light bg-dark p-2 fw-bold mt-3 border border-5 border-primary">
                def find_path(graph, vertex, visited):</br>
                &emsp;&emsp;queue= []</br></br>
                &emsp;&emsp;<span class="text-primary">print(f'Check connections: {visited , vertex}')</span></br></br>
                &emsp;&emsp;for node in graph[vertex]:</br>
                &emsp;&emsp;&emsp;&emsp;if node not in visited:</br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;queue.append(visited + [node])</br>
                &emsp;&emsp;if stack:</br></br>
                &emsp;&emsp;&emsp;&emsp;<span class="text-primary">print(f'queue: {queue}')</span></br></br>
                &emsp;&emsp;&emsp;&emsp;for route in queue:</br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;find_connections(graph, route[-1], route)</br>
                &emsp;&emsp;else:</br></br>
                &emsp;&emsp;&emsp;&emsp;<span class="text-primary">print(f'No Connections!, queue:{queue}'))</span></br>
                &emsp;&emsp;&emsp;&emsp;<span class="text-primary">print(f'Add to all routes: {visited}')</span></br></br>
                &emsp;&emsp;&emsp;&emsp;all_routes.append(visited)</br>
                &emsp;&emsp;return all_routes
            </div>
            </div></br>
            Print statements have been included to help us follow our code. Let's run our code using our previously defined graph:</br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-light bg-dark fw-bold mt-3 pt-2 pb-2 border border-5 border-primary">
                &emsp;&emsp;print(f'All Paths: {find_routes(graph, "A")}')</br></br>
                &emsp;&emsp;OUTPUT:</br>
                &emsp;&emsp;&emsp;Check connections: (['A'], 'A')</br>
                &emsp;&emsp;&emsp;queue: [['A', 'B'], ['A', 'C']]</br>
                &emsp;&emsp;&emsp;Check connections: (['A', 'B'], 'B')</br>
                &emsp;&emsp;&emsp;queue: [['A', 'B', 'D']]</br>
                &emsp;&emsp;&emsp;Check connections: (['A', 'B', 'D'], 'D')</br>
                &emsp;&emsp;&emsp;No Connections!, queue:[]</br>
                &emsp;&emsp;&emsp;Add to all routes: ['A', 'B', 'D']</br>
                &emsp;&emsp;&emsp;Check connections: (['A', 'C'], 'C')</br>
                &emsp;&emsp;&emsp;No Connections!, queue:[]</br>
                &emsp;&emsp;&emsp;Add to all routes: ['A', 'C']</br>
                &emsp;&emsp;&emsp;All Paths: [['A', 'B', 'D'], ['A', 'C']]</br>
            </div>
            </div></br>
            <div class="text-center mb-3">Output as predicted!</div>
           
        </div>
        <div class="col-12 h2 text-primary text-center mt-2">More Test Cases!</div>
        <div class="article ps-5 pe-5 w-75 mx-auto">
            Now we know our code is working as expected it's time to increase the pressure and run a slightly more complex test case!
            The graph we will use is as follows:
            <div class="d-flex justify-content-center">
            <div class="ps-2 code-text text-dark fw-bold mt-2">
                graph = {</br>&emsp; "A": ["B", "D", "H"],</br>&emsp; "B": ["A", "C"],</br>&emsp; "C": ["B"],</br>&emsp; "D": ["A", "G", "F"],</br>&emsp; "G": ["D", "E", "F"],</br>&emsp; "E": ["G"],</br>&emsp; "F": ["D", "G"]</br>}
            </div>
            </div></br></br>
            <div class="text-center binary-tree"><img src="{{ MEDIA_URL }}complex.png" alt="data tree structure" /></div></br>
            This graph has the added complexity of being cyclic which will further test our code's integrity.
            <div class="d-flex justify-content-center">
                <div class="ps-2 code-text text-light bg-dark fw-bold mt-3 pt-2 pb-2 pe-2 border border-5 border-primary">
                    &emsp;&emsp;find_routes(graph, "A")</br></br>
                    &emsp;&emsp;OUTPUT:</br>
                    &emsp;&emsp;&emsp;[['A', 'B', 'C'], ['A', 'D', 'F', 'G', 'E'],</br>&emsp;&emsp;&emsp;['A', 'D', 'G', 'F'],['A', 'D', 'G', 'E'], ['A', 'H']]</br>
                </div>
            </div></br>
            The solution is what we expected, 5 possible routes without revisiting a node.
        </div></br>
        <div class="article ps-5 pe-5 w-75 mx-auto mt-3 mb-5">
            <div class="col-12 h2 text-primary text-center">Going even further</div>
            At this stage, we have returned all possible routes from a node. Although a lot of ground has been covered, our function does not 
            return something meaningful. Maybe if we could return the shortest distance between two nodes, now that would be helpful. In doing so, the
            assumption made is that the shortest distance is always the least amount of nodes we traverse while traveling from start node to end node. This assumption, as we will find
            out in part 2 of my tutorial, may not always be true. To extend our functionality I have updated our <span class="code-text">find_routes</span> function.</br>
            <div class="d-flex justify-content-center">
                <div class="ps-2 code-text text-light bg-dark p-2 fw-bold mt-3 border border-5 border-primary">
                def find_routes(graph, vertex, end_node, visited=[]):</br>
                &emsp;&emsp;visited.append(vertex)</br>
                &emsp;&emsp;paths = find_connections(graph, vertex, visited)</br>
                &emsp;&emsp;all_paths = []</br>
                &emsp;&emsp;for route in all_paths:</br>
                &emsp;&emsp;&emsp;&emsp;if end_node in route:</br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;my_paths.append(route[:route.index(end_node)+1])</br>
                &emsp;&emsp;path_length = []</br>
                &emsp;&emsp;for path in my_paths:</br>
                &emsp;&emsp;&emsp;&emsp;path_length.append(len(path))</br>
                &emsp;&emsp;index_of_minimum = path_length.index(min(path_length))</br>
                &emsp;&emsp;return my_paths[index_of_minimum]</br>
            </div>
            </div></br>
            The code will now run through all paths obtained from our recursive function and determine which paths have a start node equal to <span class="code-text">vertex </span> and includes a node equal to 
            <span class="code-text">end_node</span>, we then add that path to a list.
            We then find the index from the list in which the amount of nodes are a minimum and return that route up to including the end node.</br></br>
            Let's run our code with starting node "A" and end node "F".</br>
            <div class="d-flex justify-content-center">
            <div class="ps-2 pe-2 code-text text-light bg-dark fw-bold mt-3 pt-2 pb-2">
                find_routes(graph, "A", "F")</br></br>
                OUTPUT: ['A', 'D', 'F']</br>
            </div>
        </div>
        </div>
        <div class="article ps-5 pe-5 w-75 mx-auto mt-3 mb-5">
            <div class="col-12 h2 text-primary text-center">Conclusion</div>
            Great! We started with a network of nodes represented by a graph and returned all 5 possible routes without revisiting a node. From there we further extended our
            functionality by returning the minimum path between 2 nodes.
            My next tutorial will expand on this topic and apply 
            what we have learned to a real-life problem, Part 2. This brings us to the end of the tutorial, hope you have enjoyed it. Please send any feedback
            by filling out the form below.</br>
        </div>     
    </section>
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}